<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--类型别名配置-->
    <typeAliases>
       <package name="com.yicj.study.webflux.entity"/>
    </typeAliases>
    <!--配置MyBatis 去哪里找映射文件-->
    <!--注意如果这里使用package的话路径一定要与java的mapper接口路径一致，否则将找不到xml文件-->
    <mappers>
        <!--
        如果使用package 这里必须配置为com.yicj.study.mapper，且xml文件必须存放在对应路径下
        <package name="com.yicj.study.mapper"/>
        -->
        <mapper resource="mappers/UserMapper.xml" />
    </mappers>
</configuration>